:root{
    --primary: #b88e2f;
    --secondary:#000;
    --font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;

}
body{
    font-family: var(--font-family);
}
.container{
    max-width: 1240px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}
/* Common CSS ENDS */

/* NAVBAR STARTS HERE */
   nav .logo{
     width: 20%;
   }
    nav .menu{
        width: 50%;
        text-align: center;
    }
    nav .menu ul{
        justify-content: center;
    } 
    nav .menu ul li a{
        padding: 38px 37.5px;
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        color: #000;
    }
        


    nav .quickLinks{
        width: 30%;
        text-align: right;
    }
    nav .quickLinks a{
        color: #000;
        font-size: 23px;
        margin: 0 22.5px;
    }
    


/* NAVBAR ENDS HERE */